*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: "PF Encore Sans Pro Thin", Georgia, sans-serif;
}
table{
    flex: 4;
    display: inline-block;
    font-size: 30px;
}
.windows{
    border: 1px solid black;
    border-radius: 50px;
    width: 50%;
    margin: 0 auto;
}
.window{
    border-radius: 50px;
    margin: 5px auto;
    padding: 5px;
	display: flex;
    flex-flow: row wrap;

}
/*Заголовок*/
h1{

}
p{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: #9c7a0b;
}
/* Инфо*/
.info{
    flex: 2;
    align-self: flex-start;
    text-align: left;
    display: inline-block;
}
td{

    border: 1px solid black;
    width: 75px;
    height: 150px;
}
td.takenCard{
background-color: lightblue;
}
td.takenCardOnTable{
	background-color: #ebbd78;
}
/* Кнопки */
.buttons{
    width: 0;
    margin-top: 35px;
}
button{
    outline: none;
    display: block;
	background-color: #ffe2a4;
    width: 150px;
    font: bold 20px/1 Georgia, serif;
    margin-left: 15px;
    border-radius: 10px;
    height: 35px;
}
button:hover{
    transform: scale(1.05);
}
.canNotClick{
    background-color: #a2a194;
}
/* Карта */
.card{
	position: relative;
}
.i1{
	padding: 5px;
	position: absolute;
	font-style: normal;
	left: 0;
	top: 0;
}
.i2{
	padding: 5px;
	position: absolute;
	font-style: normal;
	right: 0;
	bottom: 0;
}
.red{
	color: red;
}
/* Виды */
.jack{
	background: url(images/jack.png) center center no-repeat;
}
.lady{
	background: url(images/lady.png) center center no-repeat;
}
.king{
	background: url(images/king.png) center center no-repeat;
}